---
import Layout from '../layouts/Layout.astro'
---

<Layout title=''>
  <main class="flex justify-center">
    <p class='text-white'>This is the site for lowraiderdreamworksgarege.com</p>
  </main>
</Layout>
